#ifndef {{MACRO_GUARD}}
# define {{MACRO_GUARD}}

class	{{CLASS}}
{
	public:
		{{CLASS}}(void);
		{{CLASS}}({{CLASS}} const &src);
		virtual	~{{CLASS}}(void);

		{{CLASS}}	&operator=({{CLASS}} const &rhs);
	protected:

	private:
		{{CURSOR}}
};

#endif
